body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(404deg, rgba(1, 1, 1,0.02) 0%, rgba(1, 1, 1,0.02) 16%,transparent 16%, transparent 76%,rgba(58, 58, 58,0.02) 76%, rgba(58, 58, 58,0.02) 100%),linear-gradient(485deg, rgba(166, 166, 166,0.02) 0%, rgba(166, 166, 166,0.02) 33%,transparent 33%, transparent 79%,rgba(111, 111, 111,0.02) 79%, rgba(111, 111, 111,0.02) 100%),linear-gradient(573deg, rgba(215, 215, 215,0.02) 0%, rgba(215, 215, 215,0.02) 7%,transparent 7%, transparent 90%,rgba(192, 192, 192,0.02) 90%, rgba(192, 192, 192,0.02) 100%),linear-gradient(572deg, rgba(113, 113, 113,0.02) 0%, rgba(113, 113, 113,0.02) 34%,transparent 34%, transparent 73%,rgba(65, 65, 65,0.02) 73%, rgba(65, 65, 65,0.02) 100%),linear-gradient(360deg, rgb(255,255,255),rgb(255,255,255));
}
h1{
    font-weight: 600;
}

/* about page images of the team */
.teamImages{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-color: #f8706b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}

/* Welcome Page */
#welcome{
    width: calc(100vw - 10px);
    min-height: 85vh;
    overflow-x: hidden;

}

/* Section 2 of Welcome Page */
#welcome2{
    width: calc(100vw - 10px);
    min-height: 95vh;
    overflow: hidden;
}

/* Section 3 of Welcome Page */
#welcome3{
    width: calc(100vw - 10px);
    min-height: 95vh;
    overflow-x: hidden;
}

/*ATC and Welcome Page Buttons*/
.blueBtn{
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    background-color: #B4D1E4;
}

.blueBtn:focus{
    outline: none !important;
    box-shadow: none;
}

.blueBtn i{
    margin-left: 3px;
    color: #f8706b;
}


/* Shop Page */
#shop{
    width: 100%;
}

/* Shop Items */
.shop-item-box{
    margin: 25px 0px;
}

.shop-item{
    padding: 15px 30px;
    height: 300px;
    min-width: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s;
}

.shop-item-title{
    color: white;
    font-weight: 600;
    padding: .75rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* item pages */
.itemDisplayImage{
    border-radius: 20px;
    background-size:auto 100%;
    height: 80vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* About Us Page */
#about{
    width: 100vw;
    margin-top: 3vh;
    height: 80vh;
    text-align: center;
}

/* Contact Us Page */
#contact{
    width: 100vw;
    margin-top: 3vh;
    min-height: 80vh;
    text-align: center;
}

/* Checkout Pages text input format */
input {
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
}

input:focus, textarea:focus{
    outline: none;
}

textarea {
    width: 90%;
    padding: 5px;
}

/*form for contacting store*/
#contactForm{
    border-radius: 20px;
    padding: 60px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 2px solid rgb(158, 158, 158); */
}

/* Cart */
#cart{
    width: 100%;
}

/* Cart page item display */
.cart-item{
    min-width: 350px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Cart Page Summary*/
.summary-title{
    font-weight: 600;
    padding-bottom: 1rem;
}

.summary-rule{
    border-bottom: 2px solid black;
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
}

#cart-summary{
    width: 100%;
    padding: 20px;
    height: 300px;
    /* min-width: 350px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cart-summary > div > div:first-child{
    font-weight: 600;
}

/* Update BTN info color to different shade of blue */
#btn-info{
    background-color: #B4D1E4;
    border-color: #B4D1E4;
}

/*Increase stock and decrease stock number in cart*/
.cart-plus-btn{
    padding: 0px;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 15px;
}

.cart-minus-btn{
    padding: 0px;
    width:30px;
    height:30px;
    line-height: 15px;
    margin-left:15px;
    margin-right:5px;
}

.cancel-order-blurb{
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Forms */
.field-error {
    font-size: 11.5px;
    color: red;
    display: none;
}
.field-success {
    font-size: 11.5px;
    color: green;
    display: none;
}
.field-cancel {
    display: block;
    font-size: 12px;
}

/* Webpage Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #B4D1E4;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: white;
}
/* Checkout */
.checkout-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
}
#checkout-form-wrapper label {
    font-weight: 600;
    white-space: nowrap;
}
#checkout-form-wrapper input {
    margin-bottom: 5px;
}
#checkout-form-wrapper .checkout-mult-form {
    margin-bottom: 1.5rem;
}
#checkout-form-wrapper .checkout-mult-form:not(:first-child) {
    margin-top: 1.5rem;
}
#checkout-form-wrapper .checkout-mult-form .mult-form-3 input {
    width: 85%;
}
#checkout-form-wrapper .checkout-mult-form td {
    padding: 0;
}
#checkout-form-wrapper .checkout-block-form input {
    width: 95%;
    background-color: rgba(0, 0, 0, 0);
}

/*Order Review Page*/
#orderInfo{
    padding: 20px 30px;
    border-radius: 10px;
    height: 60vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#orderInfo h5{
    font-weight: 600;
}

/* Animations */
@keyframes fadeInAndUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}
