body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.nav-item{
    margin-left: 10px;
}

/* Welcome Page */
#welcome{
    width: calc(100vw - 10px);
    min-height: 85vh;
    overflow-x: hidden;

}

#welcome2{
    width: calc(100vw - 10px);
    min-height: 95vh;
    overflow: hidden;
}

#welcome3{
    width: calc(100vw - 10px);
    min-height: 95vh;
}

.blueBtn{
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    background-color: #B4D1E4;
}

.blueBtn:focus{
    outline: none !important;
    box-shadow: none;
}

.blueBtn i{
    margin-left: 3px;
    color: #f8706b;
}


/* Shop Page */
#shop{
    width: 100%;
}

.shop-item-box{
    margin: 25px 0px;
}
.shop-item{
    padding: 15px 30px;
    height: 300px;
    min-width: 300px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s;
}

.shop-item-title{
    color: white;
    font-weight: 600;
    padding: .75rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* item pages */
.itemDisplayImage{
    border-radius: 20px;
    background-size:auto 100%;
    height: 80vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

/* About Us Page */
#about{
    width: 100vw;
    margin-top: 3vh;
    height: 80vh;
    text-align: center;
}

/* Contact Us Page */
#contact{
    width: 100vw;
    margin-top: 3vh;
    height: 80vh;
    text-align: center;
}

input {
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
}

input:focus, textarea:focus{
    outline: none;
}

textarea {
    width: 90%;
}

#contactForm{
    border-radius: 20px;
    padding: 60px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 2px solid rgb(158, 158, 158); */
}

#label{
    width: 100%;
}

/* Cart */
#cart{
    width: 100%;
}

.cart-item{
    min-width: 350px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary-title{
    font-weight: 600;
    padding-bottom: 1rem;
}

#cart-summary{
    width: 100%;
    padding: 20px;
    height: 300px;
    /* min-width: 350px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cart-summary > div > div:first-child{
    font-weight: 600;
}

/* Forms */
.field-error {
    font-size: 11.5px;
    color: red;
    display: none;
}

/* Scroll Bar */
/* Webpage Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #B4D1E4;
    border-radius: 20px;
}
  
::-webkit-scrollbar-track {
    background: white;
}
/* Checkout */
.checkout-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
}
#checkout-form-wrapper label {
    font-weight: 600;
    white-space: nowrap;
}
#checkout-form-wrapper input {
    margin-bottom: 5px;
}
#checkout-form-wrapper .checkout-mult-form {
    margin-bottom: 1.5rem;
}
#checkout-form-wrapper .checkout-mult-form:not(:first-child) {
    margin-top: 1.5rem;
}
#checkout-form-wrapper .checkout-mult-form .mult-form-3 input {
    width: 85%;
}
#checkout-form-wrapper .checkout-mult-form td {
    padding: 0;
}
#checkout-form-wrapper .checkout-block-form input {
    width: 95%;
}